<div class="form-actions">
  <p><%= link_to raw("<i class='icon-backward'></i> Back to guardians"),
           guardians_path, :class => 'btn btn-med'  %></p>
  <p><%= link_to raw("<i class='icon-edit'></i> Edit this guardian"),
          edit_guardian_path(@guardian), :class => 'btn btn-med' %></p>
  <p><%= link_to raw("<i class='icon-remove'></i> Destroy guardian"),
           guardian_path(@guardian),
           :method => 'delete',
           :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
           :class => 'btn btn-danger btn-med' %></p>
</div>