<div class="well-black-med">
  <div class="well-black-header">
    <p><%= @guardian.proper_name %>'s Children</p>
  </div>
  
  <% @guardian.household.students.alphabetical.all.each do |student| %>
    <p>
      <%= link_to student.proper_name, student_path(student) %> -- 
          Grade <%= student.grade %> -- 
          <%= pluralize(student.enrollments.active.size, 'program') %>
    </p>
  <% end %>
  
</div>