<% require 'date'%>
<% if @recent_activities.nil? %>
<div class="page-header">
   <h1> No Recent Activities </h1>
</div>
<% else %>
<div class="page-header">
    <h1>Recent Activity </h1>
</div>

<br>
<ul>
    <% @recent_activities.each do |activity| %>

    <div class="alert">  <button type="button" class="close" data-dismiss="alert">×</button>Attended&nbsp;<%= link_to "#{activity.section} on #{": "+ DateTime.parse(activity.date).strftime("%b %d")}", event_path(activity.event) %></div>

    <% end %>
</ul>
<% end %>


