<% if @recent_activities.nil? %>
<h2>No Recent Activities</h2>
<% else %>
<h2>Recent Activity</h2>
<ul>
  <% @recent_activities.each do |activity| %>
        <li>Attended&nbsp;<%= link_to "#{activity.section} on #{activity.date}", event_path(activity.event) %></li>
  <% end %>
</ul>
<% end %>


