<% require 'date' %>

<div class="well">
  <h2>Recent Activity</h2>
  
  <% if @recent_activities.nil? || @recent_activities.empty? %>
    <p> No recorded activities in past month </p>
  <% else %>
    <% @recent_activities.each do |activity| %>

    <div class="alert medium"><%= link_to "#{activity.program}: #{activity.section} -- #{" "+ DateTime.parse(activity.date).strftime("%b %d")}", event_path(activity.event) %></div>

    <% end %>
  <% end %>
  
</div>

