<% if @recent_activities.nil? %>
<h2>No Recent Activities</h2>
<% else %>
<h3>Recent Activity</h3>
<br>
<ul>
  <% @recent_activities.each do |activity| %>
        <div class="alert">  <button type="button" class="close" data-dismiss="alert">×</button>Attended&nbsp;<%= link_to "#{activity.section} on #{activity.date}", event_path(activity.event) %></div>
  <% end %>
</ul>
<% end %>


