<br>
<div class="row">
  <div class="span10">
<div class="page-header">
  <h1>Current Programs</h1>
</div>
</div>
<div class="span2">
<%= link_to raw("<i class='icon-plus'></i> <strong>Add program</strong>"), new_program_path, :class => 'btn btn-primary' %>
</div>
</div>

<% if @current_programs.empty? %>
  <h3>There are currently no active programs in the system.</h3>
<% else %>
  <%= render :partial => "active_programs" %>
<% end %>
<p>&nbsp;</p><p>&nbsp;</p>
<% unless @past_programs.empty? %>
  <div class="page-header">
    <h1>Past Programs</h1>
  </div>
  <%= render :partial => "past_programs" %>
<% end %>
