<div class="notes">
  <div class="note-list">
  	<p><em><%= obj.notes.size.zero? ? "No notes yet" : pluralize(obj.notes.size, 'note') %> on this <%= "#{obj.class.to_s.downcase}" %></em></p>
  	<% unless @notes.nil?||  @notes.empty? %>
  		<%= render :partial => "partials/note_list" %>
  	<% end %>
  </div>
  <div class="note-form">
  	  <%= render :partial => "partials/note_form" %>
  </div>
</div>

