<div class = "container">
<!-- <div id="footer">
<div class="container">
<p> this is the footer for UIF </p>
</div>
</div> -->

<div class="navbar navbar-fixed-bottom">
    <div class="navbar-inner">
        <div class="container">

            <!-- <a class = "brand" href="/"><%#= image_tag("uif-logo.gif", :class => "logo") %></a> -->

            <ul class="nav">
                <li><a href="">About UIF</a></li>
                <li><a href="">Contact Us</a></li>
                <li><a href="">Privacy Policy</a></li>
                <div class="uif">
                <a href=""> <p>© 2012 UIF Team </p> </a>
                </div>
            </ul>
        </div>
    </div>
</div>