<ul id="footer">
  <li><a href="http://www.urbanimpactpittsburgh.org/aboutus/">About UIF</a></li>
  <li><a href="http://www.urbanimpactpittsburgh.org/contactus/">Contact Us</a></li>
  <li>&copy; <a href="http://www.cmu.edu/information-systems/">2012 UIF Team</a></li>
</ul>