<p>
	<strong><%= obj.comments.size.zero? ? "No notes yet" : pluralize(obj.comments.size, 'note') %> on this <%= "#{obj.class.to_s.downcase}" %></strong><br>
	<% unless @notes.empty? || @notes.nil? %>
		<%= render :partial => "partials/note_list" %>
	<% end %>
</p>
<p>
	<%= render :partial => "partials/note_form" %>
</p>