<% if user_signed_in? %>
  <span>Signed in as <%= current_user.username %>.</span>
  <a id ="session"> <%= link_to "Sign out", destroy_user_session_path, :method => :delete %></a>
<% else %>
  <a id="session"><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %></a>
<% end %>

