<% if @attendees.nil? %>
<h4>No Attendees</h4>
<% else %>
<table id="attendees" class="table table-striped">
  <thead>
    <tr>
      <th>Student</th>
      <th>Phone Number</th>
      <th>Barcode Number</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @attendees.each do |student| %>
      <tr>
        <td><%= link_to student.name, student_path(student) %></td>
        <%- if student.cell_phone.nil? -%>
          <td>No Phone Number</td> 
        <% else %>
          <td><%= number_to_phone student.cell_phone %></td> 
        <% end %> 
        <td><% if student.is_visitor %> <i class="icon-flag"></i><%end%><%= student.barcode_number %></td>    
        <td><%= link_to raw("<i class='icon-file'></i> Add note"), new_note_path(:id => student.id, :source => 'student'), :class => 'btn btn-mini' %>
        </td>        
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
