<% if @attendees.nil? %>
<h2>No Attendees</h2>
<% else %>
<table id="attendees" class="table table-striped">
  <thead>
    <tr>
      <th><%= Student.human_attribute_name(:name) %></th>
      <th><%= Student.human_attribute_name(:barcode_number) %></th>
    </tr>
  </thead>
  <tbody>
    <% @attendees.each do |student| %>
      <tr>
        <td><%= link_to student.name, student_path(student) %></td>
        <td><%= student.barcode_number %></td>     
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
