<h1>UIF Attendance Tracking System</h1>

<p>
  This site is restricted to registered users.  If you need to 
  log into the system, you may <%= link_to "click here", "users/sign_in" %>.
</p>
<p>  
  If you need access to the system but do not have an account, please 
  see a system administrator.
</p>