<h1>Contact Us</h1>
<br>
<h3>To create an online profile:</h2>
<p>Visit <a href="http://urbanimpactpittsburgh15847.thankyou4caring.org/page.aspx?pid=291">this page</a> to create an online profile consisting of a username and password. Doing so is a secure way to make online donations and event enrollments via our website easier. You can even view your giving history. </p>
<br>
<h3>To sign up for E-news flashes:</h2>

<p>If you would like to sign up to receive monthly E-news flashes that list important calendar events for the month, please send your name and email address to <a href="mailto:susan.wicks@urbanimpactpittsburgh.org">susan.wicks@urbanimpactpittsburgh.org</a>.</p>
<br>
<h3>Mailing Address</h3>

<p>801 Union Place, 4th Floor<br>
Pittsburgh, PA 15212</p>
<br>
<h3>Email</h3>

<p>Academics: &nbsp;<a href="mailto:education@urbanimpactpittsburgh.org">education@urbanimpactpittsburgh.org</a><br />

  Athletics: &nbsp;<a href="mailto:athletics@urbanimpactpittsburgh.org">athletics@urbanimpactpittsburgh.org</a><br />

  Global Impact: &nbsp;<a href="mailto:globalimpact@urbanimpactpittsburgh.org">globalimpact@urbanimpactpittsburgh.org</a><br />

  Main Office: &nbsp;<a href="mailto:info@urbanimpactpittsburgh.org">info@urbanimpactpittsburgh.org</a><br />

  Play Ball for Kids: &nbsp;<a href="mailto:playball4kids@urbanimpactpittsburgh.org">playball4kids@urbanimpactpittsburgh.org</a><br />

  Performing Arts: &nbsp;<a href="mailto:performingarts@urbanimpactpittsburgh.org">performingarts@urbanimpactpittsburgh.org</a> </p>

<br>
<h3>Directions</h3>

<p>To get directions to Urban Impact from your current location, click the <br />

  &quot;View Larger Map&quot; link below, and type your address in the FROM box:</p>


<p><iframe width="250" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=d&amp;hl=en&amp;geocode=&amp;saddr=&amp;daddr=801+Union+Place+15212&amp;sll=37.874853,-78.618164&amp;sspn=9.327084,22.719727&amp;ie=UTF8&amp;t=h&amp;s=AARTsJquLVbSlYLDumVoXz49U2oMnFPrdA&amp;ll=40.453805,-80.002913&amp;spn=0.008164,0.010729&amp;z=15&amp;output=embed" style="border:solid 1px #333333;"></iframe><br /><a href="http://maps.google.com/maps?f=d&amp;hl=en&amp;geocode=&amp;saddr=&amp;daddr=801+Union+Place+15212&amp;sll=37.874853,-78.618164&amp;sspn=9.327084,22.719727&amp;ie=UTF8&amp;t=h&amp;ll=40.453805,-80.002913&amp;spn=0.008164,0.010729&amp;z=15&amp;source=embed" target="_blank">View Larger Map</a></p>

