<% javascript 'home.js.coffee' %>
<!-- if your role is an admin -->
<div class = "left-nav">
    <div class="upcoming events">
<%= render :partial => "./admin-partials/upcoming-events" %>
</div>

<div class="past events">
    <%= render :partial => "./admin-partials/past-events" %>
    <%#= render :partial => "./events/events" %>
    <%#= render :partial => "./admin-partials/past-events" %>
</div>


</div>

<div class="right-nav">
    <div class="issues events">
    <%= render :partial => "./admin-partials/issues" %>
    </div>
    <div class="studentIssues events">
        <%= render :partial => "./admin-partials/quick-add" %>
    </div>
<div>



