<h1>The UIF Privacy Policy</h1>
<br>
<h4>Postal Address  </h4>
<p>801 Union Place, 4th Floor<br> Pittsburgh, PA 15212  </p>
<br>
<h4>Email</h4>
<p>info@urbanimpactpittsburgh.org  </p>

<br>
<h4>Telephone </h4>
<p>(412) 321-3811  </p>

<br>
<h4>Server Information</h4>
<p>For each visitor to our Web page, our Web server automatically recognizes no information regarding the domain or e-mail address. We collect no information on consumers who browse our Web page.  </p>

<br>
<h4>Cookies</h4>
<p>This site uses a tracking cookie to monitor traffic to our website. It gathers anonymous information about this website's visitors.</p>

<br>
<h4>Recieving Emails</h4>
<p>If you do not want to receive e-mail from us in the future, please let us know by sending us e-mail at the above address.  </p>

<br>
<h4>Ad Servers</h4>
<p>With respect to Ad Servers: We do not partner with or have special relationships with any ad server companies. </p>
