<%- model_class = Event -%>
<div class="page-header">
    <h1>Attended</h1>
</div>
<div class="dropdown">
    <!-- Link or button to toggle dropdown -->
    <ul class="attended-list" role="menu" aria-labelledby="dLabel">
        <li><a tabindex="-1" href="#">Student 1</a></li>
        <hr>
        <li><a tabindex="-1" href="#">Student 2</a></li>
        <hr>
        <li><a tabindex="-1" href="#">Student 3</a></li>
        <hr>
        <li><a tabindex="-1" href="#">Student 4</a></li>
    </ul>
</div>

</div>
