
<%- model_class = Event -%>
<div class="page-header">
  <h1>Creation</h1>
</div>
<%= form_tag events_path, :method => 'get' do %>
<p>
<%= date_select :date_query, params[:date_query], :include_blank => true%>
<%= submit_tag "Search", :name => nil %>
</p>
<% end %>

<div class="side-nav-grp">
<div class="btn-group">
  <button class="btn btn-large">Action</button>
  <button class="btn btn-large dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
      <li> <a>Action</a> </li>
    <!-- dropdown menu links -->
  </ul>
</div>

<button id="clickme" class="btn btn-large">New Event</button>
</div>
