<div id="events_list">
    <div id="popup">
          <%= render :partial => 'quick_add_form' %>
      </div>
    <%= render :partial => "events" %>
</div>

<div id ="creation-bar">
    <%= render :partial => "events-creation-nav"%>
</div>