<%- model_class = Note -%>
<div class="page-header">
    <h1>Issues</h1>
</div>

<% @all_notes.each do |note| %>
    <% if note.priority == "high" %>
    <% @class = "alert high"%>
    <% elsif note.priority == "medium" %>
    <% @class = "alert medium"%>
    <% else %>
    <% @class = "alert low"%>
    <% end %>
    <%= "the class #{@class}"%>
    <div class="<%= @class %>">
        <a href="#"> <%= note.title %>
        </a>
        <div class="close" data-dismiss="alert">
            x
        </div>
    </div>
    <% end %>



<!-- <div class="alert error">
<a href="#"> Something Happened
</a>
<div class="close" data-dismiss="alert">
x
</div>
</div>

<div class="alert error">
<a href="#"> Finalize Event
</a>
<div class="close" data-dismiss="alert">
x
</div>
</div>

<div class="alert">
<a href="#"> New Section Created
</a>
<div class="close" data-dismiss="alert">
x
</div>
</div>

<div class="alert">
<a href="#"> Program Deleted
</a>
<div class="close" data-dismiss="alert">
x
</div>
</div> -->