<div class="well-red-header">
  <p>Alerts at UIF</p>
</div>

<% @alerts.each do |note| %>
    <% if note.priority == 1 %>
    <% alert_class = "alert high"%>
    <% else %>
    <% alert_class = "alert medium"%>
    <% end %>
    <div class="<%= alert_class %>">
      <% if note.priority == 1 %>
        <i class='icon-warning-sign'></i>
      <% end %>
      <%= link_to note.title, note_path(note) %>
    </div>
    <% end %>



<!-- <div class="alert error">
<a href="#"> Something Happened
</a>
<div class="close" data-dismiss="alert">
x
</div>
</div>

<div class="alert error">
<a href="#"> Finalize Event
</a>
<div class="close" data-dismiss="alert">
x
</div>
</div>

<div class="alert">
<a href="#"> New Section Created
</a>
<div class="close" data-dismiss="alert">
x
</div>
</div>

<div class="alert">
<a href="#"> Program Deleted
</a>
<div class="close" data-dismiss="alert">
x
</div>
</div> -->
