<div class="page-header">
    <h1>Student Issues</h1>
</div>

<div class="alert">
    <a href="#"> Something Happened
    </a>
    <div class="close" data-dismiss="alert">
        x
    </div>
</div>

<div class="alert">
    <a href="#"> Birthday Missing for Jack
    </a>
    <div class="close" data-dismiss="alert">
        x
    </div>
</div>

<div class="alert">
    <a href="#"> Student Allergies
    </a>
    <div class="close" data-dismiss="alert">
        x
    </div>
</div>

<div class="alert">
    <a href="#"> New Student Registered
    </a>
    <div class="close" data-dismiss="alert">
        x
    </div>
</div>