/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*/


/*========================================
  GLOBAL
  ========================================*/
  
body {
  font-family: Helvetica, sans-serif !important;
  padding: 120px 50px 50px;
}

a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-family: Tahoma, sans-serif !important;
  color: #1C2324;
  margin: 0;
  padding: 0;
}
h6 {
  margin:0 !important;
}

table {
  width: 100%;
}
  thead tr th {
    font-size:15px;
  }
  tr {
    margin: 0;
    padding: 0;
  }
  th {
    white-space: nowrap;
  }
  td {
    padding: 4px 8px;  
  }

.green {
  color: #090;
}
.red {
  color: #900;
}
.yellow {
  color: #da0;
}

.pagination ul li.active a {
  background-color:#ffd200;
  color:black;
}


/*========================================
  NAVBAR
  ========================================*/

.navbar-inner .container {
  width: 85% !important;
}

.logo {
  width: 108px;
  height: 83px;
}

ul.nav {
  top: 30px;
}
  ul.nav li a {
    -webkit-transition: color 0.3s ease-in;
    color: white !important;
    font-size: 15px;
  }
  ul.nav li a:hover {
    -webkit-transition: color 0.3s ease-in;
    color: #ffd200 !important;
  }
  ul.nav li.active a:focus {
    color: #ffd200 !important;
  }

#login {
  display: inline-block;
  float: right;
  padding: 10px 15px;
  
  position: relative;
  top: 30px;
}
  #login span {
    color: #B6CDFF; 
  }

.navbar-search {
  width: 150px;
}
  .navbar-search .search-query {
    -webkit-transition: 0.5s all ease-in;
    opacity:0.9;
    width: 100%;
  }
  .navbar-search .search-query:focus {
    -webkit-transition: 0.5s all ease-in;
    opacity:1;
  }


/*========================================
  STUDENTS
  ========================================*/

.img-polaroid {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  left: -15px;
  margin-right: 40px;
  border: 1px solid black;
  width: 150px !important;
  height: auto !important;
}

.student-info {
}

.dl-horizontal dt, .dl-horizontal dd {
  text-align:left;
  position:relative;
  font-size:15px;
}

.household-button {
  margin-left: 10px !important;
}

.household-button i {
  -webkit-transition:0.2s all linear;
  font-size:20px;
}

.household-button i:hover {
 -webkit-transition:0.2s all linear;
  color:#AEC4F7;
}

.id_card {
  outline: #000000 solid thick;
  width: 500px;
  height: 250px;
}


/*========================================
  EVENTS
  ========================================*/




/*========================================
  NOTES
  ========================================*/

.notes {
  left: 0;
}

.notes .form-actions {
  width: 200px;
  left: 0px !important;
  padding-left: 0 !important;
  position: relative;
}

.notes p {
  position: relative;
  left: 0;
  text-align: left;
}

.notes .note-list {
  margin-bottom: 40px;
}

.note {
  margin: 20px;
  background-color: rgba(50,50,50,0.1);
  border-radius: 10px;
  padding: 10px;
  width: 50%;
  left: -20px;
  position: relative;
  margin-bottom: 10px;
}


/*========================================
  ADMIN DASHBOARD
  ========================================*/

.left-nav, .right-nav {
  position:relative;
}

.left-nav {
  float:left;
  width:65% !important;
}

.right-nav {
  float:right;
  width:30% !important;
}

.upcoming {
  margin-bottom:100px !important;
}

.issues {
  border: 1px red;  
  margin-bottom:100px !important;
}

/* alerts */

div.alerts a {
  font-size:4px !important;
}

div.close {
  top:-10px !important;
  position:relative !important;
  font-size:20px;
  float:right;
}

.alerts a:hover {
  background-color:blue !important;
}

div.alerts {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #C09853;
  position:relative;
  width:10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.high {
  /*color: #B94A48 !important;*/
  color: red !important;
  font-weight: bold;
  /*background-color: #F2DEDE !important;*/
  background-color: #FFD2CA !important;
  border-color: #EED3D7 !important;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.high a { color: #000; }

.medium {
  color: #C09853 !important;
  /*background-color: #FCF8E3 !important;*/
  background-color: #F7FFC1 !important;
  border-color: #FBEED5 !important;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.medium a { color: #000; }

.low {
  color: #3A87AD !important;
  background-color: #D9EDF7 !important;
  border-color: #BCE8F1 !important;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
}


/*========================================
  FOOTER
  ========================================*/

#footer {
  margin: 0;
  text-align: center;
}
  #footer li {
    display: inline-block;
    padding: 0 10px;
  }
  #footer li:not(:last-child) {
    border-right: 1px solid #333;
  }
    #footer li a {
      text-decoration: none;
    }
    #footer li a:hover {
      text-decoration: underline;
    }

/*========================================
  RANDOM THINGS TO SORT THROUGH
  ========================================*/    

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square;
  }