/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require_self
*= require_tree .
*/


/*========================================
  GLOBAL
  ========================================*/
  
body {
  font-family: Helvetica, sans-serif !important;
  padding: 120px 50px 50px;
}

a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #000;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-family: Tahoma, sans-serif !important;
  color: #1C2324;
  margin: 0;
  padding: 0;
}
h6 {
  margin:0 !important;
}

table {
  width: 100%;
}
  thead tr th {
    font-size:15px;
  }
  tr {
    margin: 0;
    padding: 0;
  }
  th {
    white-space: nowrap;
  }
  td {
    padding: 4px 8px;  
  }

#loading {
  position: fixed;
  left: 40%;
  top: 50%;
}

abbr.timeago {
  text-decoration: none;
  border: none;
  font-weight: bold;
}

.timestamp {
  float: right;
  color: #ddd;
}

.file_list {
  margin-bottom: 18px;
}

a.src_link {
  background: url('./magnify.png') no-repeat left 50%;
  padding-left: 18px;
}

.green {
  color: #090;
}
.red {
  color: #900;
}
.yellow {
  color: #da0;
}

.pagination ul li.active a {
  background-color:#ffd200;
  color:black;
}


/*========================================
  NAVBAR
  ========================================*/

.navbar-inner .container {
  width: 85% !important;
}

.logo {
  width: 108px;
  height: 83px;
}

ul.nav {
  top: 30px;
}
  ul.nav li a {
    -webkit-transition: color 0.3s ease-in;
    color: white !important;
    font-size: 15px;
  }
  ul.nav li a:hover {
    -webkit-transition: color 0.3s ease-in;
    color: #ffd200 !important;
  }
  ul.nav li.active a:focus {
    color: #ffd200 !important;
  }

#login {
  display: inline-block;
  float: right;
  padding: 10px 15px;
  
  position: relative;
  top: 30px;
}
  #login span {
    color: #B6CDFF; 
  }


/*========================================
  SEARCH
  ========================================*/

.navbar-search .search-query {
  -webkit-transition: 0.5s all ease-in;
  width:50px !important;
  height:12px !important;
  opacity:0.9;
}

.navbar-search {
  /*-webkit-transition: 0.5s width ease-in;*/
  position:absolute !important;
  right:-20px;
}

.navbar-search .search-query:focus {
  -webkit-transition: 0.5s all ease-in;
  width:100px !important;
  opacity:1;
}

.pull-left2 input {
  width:75px !important;
}

.pull-left2 input:focus {
  width:115px !important;
}

#otherSide {
  border-color:#FFF;
  border-style:solid;
  border-width:1px;
  float: right;
  height: 80%;
  margin-top: 15px;
  padding:15px;
  width:200px;
  position:absolute;
}

.navbar + .container {
  margin-top:70px;
  margin-bottom:100px;
}

a.btn.btn-primary {
  margin-top:5px;
  clear:both;

}
a.btn.btn-primary:visited { color: #fff; }

.page-header {
  border-bottom:none !important;
}


/*========================================
  EVENTS
  ========================================*/

#events_list {
  float:left;
  width:60%;
}

#creation-bar {
  float:right;
}

#events-details-nav {
  position:relative;
  float:right;
  height:300px;
  top:-356px;
}

.attended-list li {
  margin-bottom:-20px;
  margin-top:-20px;
}

.attended-list li:hover {
  background-color:yellow;
}

.dropdown {
  visibility:visible;
  height:200px;
}
.dl-horizontal {
  width:300px !important;
  display:inline !important;
}

#for_date {
  margin-top:-15px;
  margin-bottom:30px;
  font-size:20px;
}

.calendar-buttons {
  width:100%;
  text-align:center;
  margin-bottom:20px;
}

.calendar-buttons button {
  font-size:15px;
}

.calendar-buttons button:nth-child(1) {
  float:left;
}

.calendar-buttons button:nth-child(3) {
  float:right;
}

#popup {
  background: transparent;
  margin-top:-30px !important;
  position: absolute !important;
  left:-150px;
}

#popup a span a span {
  font-size:200px !important;
  color:red;
}

#form-actions {
  background: blue;
}

#event_sections {
  margin-left:20px;

  width: 220px;
  border: 1px solid #cccccc;
  background-color: #ffffff;

  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.side-nav-grp h1 {
  margin-top:20px;
  margin-bottom:-10px !important;
}


/*========================================
  STUDENTS
  ========================================*/

.student-img-container {
  background-color:gray;
  height:100px;
  width:100px;
}

.alert-success {
  height:20px;
}

.simple_form {
  margin-bottom:100px !important;
}

#creation-bar form select {
  width:90% !important;
  display:block !important;
}

#creation-bar {
  margin-bottom:200px !important;
}

.stu-side-nav {
  position:absolute;
  right:250px;
  top:-10px;
  height:60%;
}

.img-polaroid {
  padding:0;
  margin:0;
  display:inline-block;
  position:relative;
  left:-15px;
  margin-right:40px;
  border: 1px solid black;
  width:150px !important;
  height:auto !important;
}

.student-info {
  position:relative !important;
  left:-15px !important;
}

.dl-horizontal dt, .dl-horizontal dd {
  text-align:left;
  position:relative;
  font-size:15px;
}

.form-actions {
  left:-20px !important;
  position:relative;
}

.household-button {
  margin-left: 10px !important;
}

.household-button i {
   -webkit-transition:0.2s all linear;
  font-size:20px;
}

.household-button i:hover {
 -webkit-transition:0.2s all linear;
  color:#AEC4F7;
}

#studentSide {
  border-color:#dcdcdc;
  border-style:solid;
  border-width:1px;
  position:relative;
  float:right;
  top:-50px !important;
  width:260px;
}

.id_card {
  outline: #000000 solid thick;
  width: 500px;
  height: 250px;
}

#visitor_households label {
    margin-right:10px; 
}

#visitor_households input {
    margin-bottom:20px; 
}


/*========================================
  NOTES
  ========================================*/

.notes {
  left:0;
}

.notes .form-actions {
  width:200px;
  left:0px !important;
  padding-left:0 !important;
  position:relative;
}

.notes p {
  position:relative;
  left:0;
  text-align:left;
}

.notes .note-list {
  margin-bottom:40px;
}

.note {
  margin:20px;
  background-color:rgba(50,50,50,0.1);
  border-radius:10px;
  padding:10px;
  width:50%;
  left:-20px;
  position:relative;
  margin-bottom:10px;
}


/*========================================
  ADMIN DASHBOARD
  ========================================*/

.left-nav, .right-nav {
  position:relative;
}

.left-nav {
  float:left;
  width:65% !important;
}

.right-nav {
  float:right;
  width:30% !important;
}

.upcoming {
  margin-bottom:100px !important;
}

.issues {
  border: 1px red;  
  margin-bottom:100px !important;
}

/* alerts */

div.alerts a {
  font-size:4px !important;
}

div.close {
  top:-10px !important;
  position:relative !important;
  font-size:20px;
  float:right;
}


a:hover {
  text-decoration:none !important;
}

.alerts a:hover {
  background-color:blue !important;
}

div.alerts {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #C09853;
  position:relative;
  width:10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FCF8E3;
  border: 1px solid #FBEED5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.high {
  /*color: #B94A48 !important;*/
  color: red !important;
  font-weight: bold;
  /*background-color: #F2DEDE !important;*/
  background-color: #FFD2CA !important;
  border-color: #EED3D7 !important;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.high a { color: #000; }

.medium {
  color: #C09853 !important;
  /*background-color: #FCF8E3 !important;*/
  background-color: #F7FFC1 !important;
  border-color: #FBEED5 !important;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.medium a { color: #000; }

.low {
  color: #3A87AD !important;
  background-color: #D9EDF7 !important;
  border-color: #BCE8F1 !important;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 3px;
  margin-bottom: 3px;
}


/*========================================
  FOOTER
  ========================================*/

#footer {
  margin: 0;
  text-align: center;
}
  #footer li {
    display: inline-block;
    padding: 0 10px;
  }
  #footer li:not(:last-child) {
    border-right: 1px solid #333;
  }
    #footer li a {
      text-decoration: none;
    }
    #footer li a:hover {
      text-decoration: underline;
    }

/*========================================
  RANDOM THINGS TO SORT THROUGH
  ========================================*/    

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
  #error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  #error_explanation ul li {
    font-size: 12px;
    list-style: square;
  }