#for_date {
  margin-top:-15px;
  margin-bottom:30px;
  font-size:20px;
}

.calendar-buttons {
  width:100%;
  text-align:center;
  margin-bottom:20px;
}

.calendar-buttons button {
  font-size:15px;
}

.calendar-buttons button:nth-child(1) {
  float:left;
}

.calendar-buttons button:nth-child(3) {
  float:right;
}

#popup {
  background: transparent;
  margin-top:-30px !important;
  position: absolute !important;
  left:-150px;
}

#popup a span a span {
  font-size:200px !important;
  color:red;
}

#form-actions {
  background: blue;
}

#event_sections {
  margin-left:20px;

  width: 220px;
  border: 1px solid #cccccc;
  background-color: #ffffff;

  display: inline-block;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.side-nav-grp h1 {
  margin-top:20px;
  margin-bottom:-10px !important;
}

