.well {
  border-width: 1px;
  border-style: solid;
  line-height: 1.5;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  border-radius: 10px;
}

/*** colors ***/
.well.red {
  background-color: #fff;
  border-color: red;
}
.well.black {
  background-color: #fff;
  border-color: #000;
}
.well.yellow {
  background-color: #F7FFC1;
  border-color: #FFF77F;
}
.well.double-red {
  background-color: #FFD2CA;
  border-color: red;
}
.well.grey {
  background-color: #E6E6E6;
  border-color: #999;
}

/*** sizes ***/
.well.small { width: 390px; }
  .well.small p {
    color: #000;
    font-size: 120%;
    padding-left: 10px;
  }
  
.well.med { width: 450px; }
  .well.med p {
    color: #000;
    font-size: 120%;
    padding-left: 10px;
  }

/*** headers ***/
.well-header {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
  .well-header p {
    font-size: 140%;
    font-weight: bold;
    padding-left: 10px;
  }

.well.black .well-header {
  background-color: #000;
  color: #fff;
}
  .well.black .well-header p {
    color: #fff;
  }

.well.red .well-header,
.well.double-red .well-header {
  background-color: red;
  color: #fff;
}
  .well.red .well-header p,
  .well.double-red .well-header p {
    color: #fff;
  }

.well.yellow .well-header {
  background-color: #FFF77F;
  color: #fff;
}	
  .well.yellow .well-header p {
    color: #000;
  }

.well.grey .well-header {
	  background-color: #999;
	  color: #fff;
	}
  .well.grey .well-header p {
    color: #000;
  }

/*** list items ***/
.well li {
  font-size: 130%;
  line-height: 1.5;
}