.well-red {
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid red;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.well-black {
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #000;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
/*** small wells ***/
.well-black-small {
  line-height: 1.5;
  background-color: #fff;
  border: 1px solid #000;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  -moz-border-radius: 10px;
  border-radius: 10px;
	width: 390px;
}
.well-yellow-small {
  line-height: 1.5;
  background-color: #F7FFC1;
  border: 1px solid #FFF77F;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  -moz-border-radius: 10px;
  border-radius: 10px;
	width: 390px;
}
.well-red-small {
  line-height: 1.5;
  background-color: #FFD2CA;
  border: 1px solid red;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  -moz-border-radius: 10px;
  border-radius: 10px;
	width: 390px;
}
.well-grey-small {
  line-height: 1.5;
  background-color: #E6E6E6;
  border: 1px solid #999;
  padding-top:0px;
  padding-left:0px;
  padding-right:0px;
  -moz-border-radius: 10px;
  border-radius: 10px;
	width: 390px;
}

/*** well small p ***/
.well-red-small p {
  color: #000;
  font-size: 120%;
  padding-left: 10px;
}
.well-black-small p {
  color: #000;
  font-size: 120%;
  padding-left: 10px;
}
.well-yellow-small p {
  color: #000;
  font-size: 120%;
  padding-left: 10px;
}
.well-grey-small p {
  color: #000;
  font-size: 120%;
  padding-left: 10px;
}

/*** well headers ***/
.well-black-header {
  background-color: #000;
  color: #fff;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.well-black-header p {
  color: #fff;
  font-size: 150%;
  font-weight: bold;
  padding-left: 10px;
}
.well-red-header {
  background-color: red;
  color: #fff;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.well-red-header p {
  color: #fff;
  font-size: 150%;
  font-weight: bold;
  padding-left: 10px;
}
.well-yellow-header {
  background-color: #FFF77F;
  color: #fff;
  -moz-border-top-left-radius: 10px;
  -moz-border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}	
.well-yellow-header p {
  color: #000;
  font-size: 150%;
  font-weight: bold;
  padding-left: 10px;
}
.well-grey-header {
	  background-color: #999;
	  color: #fff;
	  -moz-border-top-left-radius: 10px;
	  -moz-border-top-right-radius: 10px;
	  border-top-left-radius: 10px;
	  border-top-right-radius: 10px;
	}
.well-grey-header p {
  color: #000;
  font-size: 150%;
  font-weight: bold;
  padding-left: 10px;
}



.well li {
  font-size: 130%;
  line-height: 1.5;
}