<div class="well-black-med">
  <div class="well-black-header">
    <p><%= @household.name %> Children</p>
  </div>
  
  <% @household.students.alphabetical.all.each do |student| %>
    <p>
      <%= student.proper_name %> -- 
          Grade <%= student.grade %> -- 
          <%= pluralize(student.enrollments.active.size, 'program') %>
    </p>
  <% end %>
  
</div>