<div class="well black med">
  <div class="well-header">
    <p><%= @household.name %> Children</p>
  </div>
  
  <% @household.students.alphabetical.all.each do |student| %>
    <p>
      <%= link_to student.proper_name, student_path(student) %> -- 
          Grade <%= student.grade %> -- 
          <%= pluralize(student.enrollments.active.size, 'program') %>
    </p>
  <% end %>
  
</div>